* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px !important;
	font-family: 'Nokora', Arial, Helvetica, sans-serif !important;
}
/* khmer */

@font-face {
	font-family: 'Bayon';
	font-style: normal;
	font-weight: 400;
	src: local('Bayon Regular'), local('Bayon-Regular'), url(https://fonts.gstatic.com/s/bayon/v10/9XUrlJNmn0LPFm-lMBc0dw.woff2) format('woff2');
	unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */

@font-face {
	font-family: 'Nokora';
	font-style: normal;
	font-weight: 400;
	src: local('Nokora Regular'), local('Nokora-Regular'), url(https://fonts.gstatic.com/s/nokora/v11/hYkIPuwgTubzaWxgNzAOkvY.woff2) format('woff2');
	unicode-range: U+1780-17FF, U+200C, U+25CC;
}
.fa-mobile-phone:before,
.fa-mobile:before {
	display: none;
}
.fa-credit-card:before {
	display: none;
}
.page-link {
	color: #c38921;
}
#top-head {
	background: #00000078 !important;
	color: #fff;
	font-size: 20px;
	width: 100%;
	padding: 0;
}
.carousel-indicators .active {
	background-color: #2c6c0a;
}
.carousel-indicators li {
	background-color: rgba(255, 193, 7, 0.83);
}
.dropdown-menu {
	position: absolute;
	min-width: 10px;
	left: 0px;
}
#logoSidbar img {
	width: 40%;
	background: #225806c7;
	border: 3px solid #e8a631;
	border-radius: 50%;
}
a.dropdown-toggle {
	color: #fff;
	font-size: 18px;
	margin-right: 25px;
	font-family: 'Nokora', Arial, Helvetica, sans-serif;
}
ul.flex-column.pl-2.nav a {
	border-bottom: 1px dotted #fff !important;
	border: 0;
	color: #fff;
	font-size: 17px;
	padding: 5px 0;
	line-height: 35px;
	font-family: 'Nokora' !important;
	margin: 3px 0;
}
ul.flex-column.pl-2.nav a:hover {
	border-bottom: 1px dotted #fff !important;
	background: #367912;
	color: #e7a731;
	text-indent: 7px;
}
div#img-slide img {
	width: 100%;
}
.banner img {
	margin: 0 auto;
	width: 100%;
	display: block;
}
img.card-img-top {
	border: 1px dashed #2c6c0a;
	height: auto !important;
}
.banner {
	margin: 0 auto;
	width: auto;
	margin-top: 4%;
}
li.nav-item:last-child a {
	border: 0;
}
img.d-block.w-100 {
	width: auto !important;
	margin: 0 auto;
}
h2 {
	font-size: 23px;
	text-transform: uppercase;
	color: #2c6c0a;
	/* background: #2c6c0a; */
	padding: 7px 0;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	border-bottom: 3px solid #f9b337;
	font-weight: bold;
}
.flex-nowrap {
	-ms-flex-wrap: nowrap!important;
	flex-wrap: nowrap!important;
	width: 100%;
}
.card-group {
	margin-bottom: 15px;
	width: 100%;
}
ul.dropdown-menu.dropdown-lr.animated.slideInRight.show {
	margin-top: 15px;
}
ul.dropdown-menu.dropdown-lr.animated.flipInX.show {
	margin-top: 15px;
}
.logo img {
	width: 10%;
}
.card-footer {
	text-align: center;
}
#menu {
	background: #458524 !important;
}
#menu a {
	color: #fff;
}
.dropdown-menu {
	background-color: #ffffff;
}
.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #419017;
	color: #fff;
}
.btn:not(:disabled):not(.disabled) {
	color: #fff;
	border: 1px solid #2c6c0a;
	box-shadow: none;
	background: none;
	background: #f0ad36;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
	background: none;
	border: 0;
	box-shadow: none;
	background: none;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
	border: 1px solid #fff;
}
.decripf {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	color: #fff;
	position: relative;
}
.contain {
	width: auto;
	margin: 0 auto;
}
#copyright-block {
	text-align: center;
	padding: 20px;
	background: #333;
}
.quality {
	border-left: 1px solid #fff;
	border-right: 1px solid #ffff;
	padding: 0 30px;
}
.subscriber,
input[type=submit] {} .innerfooter {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	margin-top: 10px;
	justify-content: space-between;
	padding-top: 10px;
	padding: 10px;
}
.quality ul li a:hover {
	text-decoration: underline;
}
.innerfooter p {
	text-align: center;
	font-size: 13px;
	color: #ffff;
}
.quality ul li a {
	font-size: 10px;
	color: #71c319;
	padding: 7px 0px;
}
.innerfooter a {
	color: #fff;
}
div#copyright-block a {
	color: #fff;
	text-decoration: underline;
}
h3 {
	font-size: 20px;
	color: #a7ab10;
	border-bottom: 1px dashed #2c6c0a;
	width: 100%;
	padding: 5px 0;
	margin-bottom: 15px;
}
.card:last-child {
	margin-right: 0;
}
.card {
	margin-right: 1%;
	border: 0;
}
.card-body {
	padding: 1.25rem 0;
}
h5.card-title {
	text-align: center;
	font-weight: bold;
	color: #b93819;
}
.card-footer:hover {
	text-decoration: none;
}
a.nav-link:hover {
	border-bottom: 2px solid #ffffff;
	color: #e7a731;
	transition: 0.5s;
	text-indent: 7px;
}
.card-footer {
	padding: 5px;
	cursor: pointer;
	background-color: rgba(160, 137, 137, 0.26);
	border-top: 1px solid rgb(240, 173, 54);
}
.bg-light {
	background: #2c6c0a !important;
}
/* Styles for wrapping the search box */

.search-box {
	width: 20%;
	margin: 15px auto;
	margin-bottom: 0;
	position: relative;
	left: 26%;
}
/* Bootstrap 4 text input with search icon */

.has-search .form-control {
	padding-left: 2.375rem;
}
.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}
.card-text:last-child {
	margin-bottom: 0;
	text-align: center;
}
.row {
	margin: 0;
}
.row,
.col-xs-7.col-md-7 {
	padding: 0;
	margin: 0;
}
a.nav-link {
	color: #fff;
	border-bottom: 2px solid #e7a631;
	padding: 10px 0;
	width: 100%;
	display: block;
	font-family: 'Bayon', Arial, Helvetica, sans-serif !important;
	font-size: 20px;
}
small.text-muted a {
	color: #409e0e;
	text-decoration: none;
	font-size: 16px;
}
.row h3 {
	text-align: center;
	color: #fff;
}
small.text-muted a:hover {
	color: #bb8320;
}
small.text-muted {
	color: #fff !important;
}
div#copyright-block a:hover {
	text-decoration: none;
}
button#showMenu {
	border: 0;
	cursor: pointer;
}
#copyright-block p {
	color: #fff;
	margin: 0;
}
#footer {
	background: #306f0f;
	color: #fff;
	text-align: center;
	padding: 20px 0 0 0;
}
#footer p {
	margin-bottom: 0;
}
.container {
	max-width: 100%;
}
/* Footer Style */

#Main-Footer {
	background-color: #3c3d41;
	color: white;
}
#Main-Footer .footer-copyright {
	background-color: #333333;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}
#Main-Footer .row {
	margin-bottom: 0;
	padding-top: 40px;
}
#Main-Footer .navbar-brand {
	margin-top: 45px;
	height: 65px;
}
#Main-Footer .footer-copyright p {
	margin: 10px;
	color: #ccc;
}
#Main-Footer ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
}
#Main-Footer h5 {
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}
#Main-Footer h2 a {
	font-size: 50px;
	text-align: center;
	color: #fff;
}
#Main-Footer a {
	color: #d2d1d1;
	text-decoration: none;
	font-size: 15px;
}
#Main-Footer a:hover,
#Main-Footer a:focus {
	text-decoration: none;
	color: white;
}
#Main-Footer .social-networks {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 16px;
}
#logoSidbar {
	position: relative;
	width: 25%;
	top: 0px;
	left: 3%;
	z-index: 1;
	overflow: hidden;
	margin-top: -10%;
}
#Main-Footer .social-networks a {
	font-size: 32px;
	color: #f9f9f9;
	padding: 10px;
	transition: 0.2s;
}
a.navbar-brand img {
	width: 24%;
}
#Main-Footer .social-networks a:hover {
	text-decoration: none;
}
#Main-Footer .facebook:hover {
	color: #0077e2;
}
#Main-Footer .google:hover {
	color: #ef1a1a;
}
#Main-Footer .twitter:hover {
	color: #00aced;
}
#Main-Footer .btn {
	color: white;
	background-color: #80b338;
	border-radius: 20px;
	border: none;
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 25px;
}
.c_tel img {
	width: 30px !important;
	height: 30px !important;
}
.fa-3x {
	font-size: 3em;
	margin-right: 2em;
}
.col-sm-5 img {
	width: 30%;
	float: right;
}
@media (min-width: 220px) {
	.navbar-expand-lg .navbar-collapse {
		display: block;
	}
	.navbar {
		padding: 0px;
	}
	ul.dropdown-lr {
		width: auto;
	}
}
@media screen and (max-width: 767px) {
	#Main-Footer {
		text-align: center;
	}
}
.content {
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}
#Main-Footer {
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	margin-top: 50px;
	*/
}
.col-xs-6.col-xs-offset-3 {
	margin-left: 5em;
}
.col-xs-7 {
	margin-left: 17px;
	margin-top: 8px;
}
input#login-submit {
	margin-left: 29px;
}
a.forgot-password {
	color: #e67d6a;
}
b {
	color: #2c6c0a;
	text-transform: uppercase;
}
/* General sizing */

ul.dropdown-lr {
	width: 300px;
}
/* mobile fix */

@media (max-width: 768px) {
	#top-head {
		background: #266107 !important;
		padding-bottom: 20px;
	}
	.container-fluid {
		margin-top: 15px;
	}
	.fixed-top {
		padding: 25px;
		position: static;
		background: #3f3a3a !important;
	}
	.d-md-flex {
		display: -ms-flexbox!important;
		display: flex!important;
	}
	img {
		height: auto!important;
	}
	#logoSidbar img {
		width: 25%;
		margin: 0 auto;
		/* display: flex; */
		background: #000000cf;
	}
	h2 {
		width: 100%;
	}
	h2:before {
		display: none;
	}
	h2:after {
		display: none;
	}
	.dropdown-lr h3 {
		color: #eee;
	}
	#logoSidbar {
		margin: 0;
		position: static;
		width: 100%;
	}
	.dropdown-lr label {
		color: #235608;
	}
	.col-2 {
		-ms-flex: 0 0 16.666667%;
		flex: auto;
		max-width: 100%;
	}
	#Main-Footer a {
		display: block;
	}
	.col-sm-5 img {
		float: none;
	}
	.fa-3x {
		margin: 0px;
	}
	#Main-Footer .row {
		margin-top: 0px;
		padding: 0;
	}
	.search-box {
		position: static;
		width: auto;
		padding-left: 0;
		margin-left: 15px;
	}
	.dropdown.show {
		margin-left: 15px;
	}
	.col.pt-2 {
		padding: 0;
		margin: 0;
	}
	.container {
		padding: 0;
		margin: 0;
	}
	ul.dropdown-lr {
		width: auto;
	}
	.has-search .form-control {
		padding-left: 3.375rem;
	}
	.thumbnail img {
    	width: 100%;
	}
	.col-xs-5.col-md-5.pull-right {
    	margin: 0;
    	padding: 0;
	}
}