body, html{
		    height: 100%;
		 	background-repeat: no-repeat;
		 	font-family: 'Oxygen', sans-serif;
			background-size: cover;
		}
		.main{
		 	margin:50px 15px;
		}
		hr{
			width: 10%;
			color: #fff;
		}
		.form-group{
			margin-bottom: 15px;
		}
		label{
			margin-bottom: 15px;
		}
		input,
		input::-webkit-input-placeholder {
		    font-size: 11px;
		    padding-top: 3px;
		}
		.form-control {
		    height: auto!important;
			padding: 8px 12px !important;
		}
		.input-group {
		    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
		    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
		    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
		}
		#button {
		    background-color: #99CA3C;
		}
		.main-center{
		 	margin-top: 30px;
		 	margin: 0 auto;
		 	max-width: 400px;
		    padding: 10px 40px;
		    text-shadow: none;
			-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
			-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
			box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
		}
		span.input-group-addon i {
		    color: #009edf;
		    font-size: 17px;
		}