.main{
		 	margin:50px 15px;
		}
		.main-center{
		 	margin-top: 30px;
		 	margin: 0 auto;
		 	max-width:700px;
		    padding: 10px 40px;
		    text-shadow: none;
			-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
			-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
			box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
		}
		#button {
		    background-color: #99CA3C;
		}